.QCM {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 40px; /* Augmenter le padding */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px; /* Augmenter la largeur */
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-size: 1.5em; /* Augmenter la taille de la police */
  margin-bottom: 20px; /* Augmenter la marge inférieure */
}

p {
  margin: 0 0 20px; /* Augmenter la marge inférieure */
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  margin-right: 20px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px; /* Augmenter le padding */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em; /* Augmenter la taille de la police */
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
